body{
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    color: white;
    font-size: 1.0em
}
h2{
    padding: 3% 10%;
    text-align: center;
    font-weight: bold;
}
main{
    width: 100%;
    height: 4081px;
    background-color: #0E1318;
}
.botao-header{
    background-color: #ffffff;
}
.alinhar{
    margin-left: 5%;
    margin-top: 2.5%;
}
.texto-main{
    width: 70%;
    padding: 20% 5%;
    text-align: left;
    font-weight: bold;
}
.fonte-color{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-right: 10%;
}
.anchor-logo{
    width: 20%;
}
.no-anchor{
    text-decoration: none;
}
.no-anchor:hover{
    color: #cacaca;
}
.nav-background{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.82) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
}
.img-main{
    max-width: 100%;
    width: 100%;
    min-width:1000px;
}
.transparent{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 810px;
    top: 0%;
    background:rgba(0, 0, 0, 0.5);
}
.bg-main{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 550px;
    top: 0%;
}
.transition-main{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 68px;
    top: 549px;
    background: linear-gradient(180deg, #0E1318 0%, #090909 100%);
}
.servicos{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 505px;
    top: 615px;
    background: #090909;
    color: #000000;
}
.nossos-servicos{
    text-align: center;
    margin: 1%;
}
.alinhar-card-centro{
    margin-bottom: 2%;
}
.alinhar-cards{
    margin-top: 4%;
}
.icons-servicos{
    width: 100%;
    max-width: 128px;
    margin-top: 10%;
}
.protheus{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 730px;
    top: 1116px;
    background: no-repeat url(../src/img/protheus.jpg);
    background-size: 100%;
}
.bg-protheus{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 730px;
    background-color: #00b7fff0;
}
.article-protheus{
    width: 50%;
    margin: 0% 25%;
}
.oque-protheus{
    width: 100%;
    margin-top: 10%;
    padding: 10% 10%;
    color: #000000;
    border: 1px #000000 solid;
}
.quem-somos{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 275px;
    top: 1839px;
    background: linear-gradient(180deg, #00b7ff 0%, #0E1318 81.99%);
}
.quem{
    padding: 2% 10%;
    text-align: center;   
    color: #000000;
    font-weight: bold;
    font-size: 1.15em;
}
.carrossel-page{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 575px;
    top: 2113px;
    background: #0E1318;
}
.imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 90%;
    height: 350px;
}
.imagem-carrossel-dois{
    object-fit: cover;
    height: 350px;
}
.clientes{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 575px;
    top: 2687px;
    background: #ffffff;
}
.titulo-clientes{
    color: #000000;
}
.img-clientes{
    max-width: 90%;
    height: 150px;
    border-radius: 90px;
    filter:grayscale(100%);
    margin: 2% 3%;
}
.img-clientes:hover{
    padding: 1%;
    filter:grayscale(0%);
}
.contatos-page{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    top: 3261px;
    height: 875px;
    background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0.885417) 36.46%, rgba(0, 0, 0, 0) 100%);
}
.corrigir{
    width: 50%;
    margin: 0% 25%;
}
.formularios{
    width: 100%;
    padding: 5% 25%;
}   
.btn-enviar{
    float: right;
    margin-top: 2%;
    min-width: 50px;
}
.txt-area{
    resize: none;
}
.rodape{
    position: absolute;
    width: 100%;
    top: 4061px;
    background: linear-gradient(180deg, rgb(14 19 24) 0%, #000000 98.96%);
}
footer nav ul li {
    margin-top: 5%;
}
@media (max-width: 300px){
    main{
        height: 3404px;
    }
    body{
        font-size: 0.7em;
    }
    h1,h2, h3, h4, h5{
        font-size: medium;
    }
    .texto-main {
        width: 80%;
        margin: 20% 5%;
    }
    .transition-main {
        height: 60px;
        top: 450px;
    }
    .nossos-servicos{
        margin-top: 5%;
    }
    .servicos{
        top: 509px;
        height: 700px;
    }
    .alinhar-cards, .alinhar-card-centro{
        width: 80%;
        height: 55%;
        margin: 4% 10%;
    }
    .icons-servicos{
        width: 100%;
        max-width: 50px;
        margin-top: 10%;
    }
    .protheus{
        top: 1208px;
        height: 600px;
        color: #000000;
    }
    .article-protheus{
        width: 70%;
        margin: 0% 15%;
    }
    .quem-somos{
        top: 1807px;
        height: 150px;
        margin-top: 0;
    }
    .quem{
        padding-top: 0%;
    }
    .carrossel-page{
        top: 1956px;
    }
    .carrossel-borda{
        border-radius: 0;
    }
    .tamanho-carrossel{
        margin: 0% 0%;
        max-height: 100px;
    }
    .clientes{
        top: 2405px;
        height: 350px;
    }
    .img-clientes{
        max-width: 90%;
        height: 70px;
        border-radius: 90px;
        filter:grayscale(100%);
        margin-top: 4%;
        margin-left: 15%;
    }
    .contatos-page{
        top: 2754px;
        background: #00000000;
        height: 600px;
    }
    .corrigir{
        width: 70%;
        margin: 0% 15%;
    }
    .formularios{
        width: 100%;
        padding: 5% 10%;
    }   
    .btn-enviar{
        float: right;
        margin-top: 2%;
        min-width: 50px;
    }
    .rodape{
        top: 3404px;
    }
}
@media (min-width: 301px) and (max-width: 599px){
    body{
        font-size: 0.7em;
    }
    h1, h2, h3, h4, h5{
        font-size: medium;
    }
    .texto-main {
        font-size: 1.5rem;
    }
    main{
       height: 3208px;
    }
    .img-main{
        min-width:none;
    }
    .nossos-servicos{
        margin-top: 5%;
    }
    .servicos{
        height: 750px;
    }
    .alinhar-cards, .alinhar-card-centro{
        width: 80%;
        height: 55%;
        margin: 2% 10%;
    }
    .icons-servicos{
        width: 100%;
        max-width: 50px;
        margin-top: 10%;
    }
    .protheus{
        top: 1364px;
        height: 500px;
        color: #000000;
    }
    .bg-protheus{
        height: 500px;
    }
    .menu-protheus{
        max-width: 90%;
        width: 90%;
        height: 35%;
        margin: 5% 5%;
    }
    .oque-protheus, .oque-consultoria{
        max-width: 100%;
        width: 100%;
        max-height: 300px;
        padding: 2% 2%;
        margin: 4% 0%;
    }
    .quem-somos{
        top: 1759px;
        height: 150px;
        margin-top: 0;
    }
    .quem{
        padding-top: 0%;
    }
    .carrossel-page{
        top: 1909px;
        height: 400px;
    }
    .carrossel-borda{
        border-radius: 0;
    }
    .tamanho-carrossel{
        margin: 0% 0%;
        max-height: 100px;
    }
    .clientes{
        top: 2309px;
        height: 300px;
    }
    .img-clientes{
        max-width: 90%;
        height: 70px;
        border-radius: 90px;
        filter:grayscale(100%);
        margin: 5% 2%;
    } 
    .contatos-page{
        top: 2609px;
        background: #00000000;
        height: 600px;
    }
    .corrigir{
        width: 70%;
        margin: 0% 15%;
    }
    .formularios{
        width: 100%;
        padding: 5% 10%;
    }   
    .btn-enviar{
        float: right;
        margin-top: 2%;
        min-width: 50px;
    }
    .rodape{
        top: 3208px;
    }
}
@media (min-width: 600px) and (max-width: 1000px){
    body{
        font-size: 0.8em;
    }
    h1, h2, h3, h4, h5{
        font-size: medium;
    }
    .texto-main {
        font-size: 1.5rem;
    }
    main{
       height: 3391px;
    }
    .img-main{
        min-width:none;
    }
    .nossos-servicos{
        margin-top: 5%;
    }
    .servicos{
        height: 700px;
    }
    .alinhar-card-centro{
        margin: 2% 5%;
        min-width: 40%;
        height: 60%;
    }
    .alinhar-cards{
        margin: 2% 5%;
        min-width: 40%;
        height: 60%;
    }
    .icons-servicos{
        width: 100%;
        max-width: 50px;
        margin-top: 10%;
    }
    .protheus{
        top: 1250px;
    }
    .quem-somos{
        top: 1819px;
        height: 170px;
        margin-top: 0;
    }
    .quem{
        padding: 0%;
    }
    .carrossel-page{
        top: 1988px;
    }
    .clientes{
        top: 2447px;
        height: 350px;
    }
    .img-clientes{
        max-width: 90%;
        height: 90px;
        border-radius: 90px;
        filter:grayscale(100%);
        margin-top: 2%;
        margin-left: 12%;
    } 
    .contatos-page{
        top: 2796px;
        height: 675px;
    }
    .rodape{
        top: 3391px;
    } 
}
@media (min-width: 1200px) {
    body{
        font-size: 1.0em;
    }
}
@media (min-width: 1600px) {
    .bg-main, .protheus, .carrossel, .clientes, .quem-somos, .servicos, .transition-main, .transparent, .contatos-page{
      left: 4%;
    }
    main{
        height: 4296px;
    }
    body{
        font-size: 1.2em;
    }
    .transition-main{
        top: 700px;
    }
    .servicos{
        top: 765px;
    }
    .protheus{
        top: 1269px;
    }
    .quem-somos{
        top: 1998px;
    }
    .carrossel{
        top: 2272px;
    }
    .clientes{
        top: 2846px;
    }
    .contatos-page{
        top: 3420px;
    }
    .rodape{
        top: 4294px;
    }
  }
@media (min-width: 1850px) {
  .bg-main, .protheus, .carrossel, .clientes, .quem-somos, .servicos, .transition-main, .transparent, .contatos-page{
    left: 13%;
  }
  body{
    font-size: 1.25em;
}
}
