main{
    background: #0E1318;
    position: absolute;
    width: 100%;
    height: 1335px;
    color: #ffffff;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-size: 22px;
}
label{
    font-weight: bold;
    font-size: 0.7em;
}
h2{
    padding: 3% 10%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.contatos-page{
    position: absolute;
    width: 100%;
    height: 1335px;
    background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0.885417) 36.46%, rgba(0, 0, 0, 0) 100%);
}
.alinhar{
    margin-left: 5%;
    margin-top: 2.5%;
}
.fonte-color{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-right: 10%;
}
.anchor-logo{
    width: 20%;
}
.no-anchor{
    text-decoration: none;
}
.no-anchor:hover{
    color: #cacaca;
}
.nav-background{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.82) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
}
.contate-nos{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.icons{
    max-width: 20px;
}
.formularios{
    width: 50%;
    margin: 0% 25%;
}
.btn-enviar{
    float: right;
    margin-top: 2%;
    width: 7vm;
}
.txt-area{
    resize: none;
}
.rodape{
    position: absolute;
    width: 100%;
    height: 220px;
    left: 0%;
    top: 1115px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 98.96%);
}

.icons-rodape{
    max-width: 10%;
    margin-left: -10% ;
}
.icons-sociais{
    max-width: 10%;
    margin-left: 15%;
}
.fonte-rodape{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: white;
}
.tamanho-rodape, .tamanho-clientes{
    max-width: 100%;
    width: 100%;
}
.tamanho-colunas-dir{
    width: 20%;
    margin-right: 10%;
    float: right;
}
.tamanho-colunas{
    width: 20%;
    margin: 2% 2%;
    float: left;
    list-style: none;
}
.tamanho-colunas-meio{
    max-width: 35%;
    width: 20%;
    margin: 2.5% 2%;
    min-width: 50px;
    float: left;
}
footer nav ul li {
    margin-top: 5%;
}
@media (min-width: 250px) and (max-width: 500px){
    main{
        height: 1035px;
    }
    body{
        font-size: 0.9em;
    }
    label{
        font-weight: bold;
        font-size: 0.7em;
    }
    h2{
        padding: 10% 10%;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
    }
    .contatos-page{
        height: 1035px;
    }
    .formularios{
        width: 95%;
        margin: 0% 2%;
    }
    .rodape{
        top: 815px;
    }
    .tamanho-colunas-dir{
        width: 40%;
        min-width: 120px;
        margin-right: 5%;
    
    }
    .tamanho-colunas{
        max-width: 35%;
        padding: 0;
        min-width: 90px;
        margin: 0% 5%;
    }
    .tamanho-colunas-meio{
        width: 20%;
        margin: 2.5% 8%;
        min-width: 50px;
        padding: 0;
        float: none;
    }
    .icons-rodape{
        max-width: 10%;
        min-width: 15px;
    }
    .icons-sociais{
        max-width: 10%;
        margin-left: 15%;
        min-width: 20px;
    }
    .fonte-rodape{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2.5vw;
        color: white;
    }
}
@media (min-width: 500px) and (max-width: 1000px){
    main{
        height: 1050px;
    }
    .contatos-page{
        height: 1050px;
    }
    .rodape{
        top: 830px;
    }
    .icons-sociais{
        max-width: 8%;
        margin-left: 18%;
        min-width: 20px;
    }
    .fonte-rodape{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.0rem;
        color: white;
    }
    .tamanho-colunas-dir{
        width: 40%;
        min-width: 120px;
        margin-right: 5%;
    }
    .tamanho-colunas{
        max-width: 35%;
        padding: 0;
        min-width: 90px;
        margin: 5% 5%;
    }
    .tamanho-colunas-meio{
        margin: 5% 0%;
        width: auto;
    }
    .icons-rodape{
        max-width: 10%;
        min-width: 15px;
    }
    nav div h2 {
        font-size: 1.0em;
    }
}